*,
*::after,
*::before {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

/* cyrillic */
@font-face {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(../fonts/rubik/Rubik-Regular-cyrillic.woff2) format("woff2");
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(../fonts/rubik/Rubik-Medium-cyrillic.woff2) format("woff2");
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin */
@font-face {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(../fonts/rubik/Rubik-Regular-latin.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(../fonts/rubik/Rubik-Regular-latin-ext.woff2) format("woff2");
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(../fonts/rubik/Rubik-Medium-latin.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(../fonts/rubik/Rubik-Medium-latin-ext.woff2) format("woff2");
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

body {
	margin: 0;
	font-family: "Rubik", Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	color: $text;
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: space-between;
	line-height: 1.4;

	// &.body-overflow {
	// 	padding-right: 17px;
	// 	max-height: 100%;
	// 	height: 100%;
	// 	overflow: hidden;
	// }
}

// .body-overlay {
// 	overflow-y: hidden;
// 	touch-action: none;

// 	@media screen and (min-width: 1200px) {
// 		padding-right: 17px;
// 	}
// }

.is-dropdown-open {
	overflow: hidden;
	max-height: 100vh;
	padding-right: 17px;

	@media (hover: none) and (pointer: coarse) {
		padding-right: 0;
	}
}

input,
button,
textarea {
	font-family: inherit;
}

button {
	cursor: pointer;
}

textarea {
	resize: vertical;
	min-height: 150px;
	border: 1px solid $line-d;
	border-radius: $br-sm;
	padding: 0.75em 1em;
	line-height: 1.3;
}

input[type="text"],
input[type="password"] {
	border: 1px solid $line-d;
	border-radius: $br-sm;
	padding: 0.75em 1em;
	line-height: 1.3;

	&::placeholder {
		color: $text-ll;
	}
}

main {
	min-height: 50vh;

	a {
		text-decoration: none;
		color: $main;
		transition: $t;

		&:hover {
			color: $main-dimmed;
		}
	}
}

h1,
.h1 {
	font-size: 28px;
	line-height: 1.3;
	font-weight: 500;
	margin: 1em 0 0.6em 0;

	@media screen and (min-width: $bp-md) {
		font-size: 38px;
	}

	&--lg {
		font-size: 42px;
	}
}

h2,
.h2 {
	font-size: 25px;
	font-weight: 500;
	line-height: 1.2;
}

h3,
.h3 {
	font-size: 18.5px;
	font-weight: 500;
	line-height: 1.3;
}

h4,
.h4 {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.3;
}

p {
	font-size: 17px;
	line-height: 1.5;

	@media screen and (min-width: $bp-xsm) {
		font-size: 16px;
		line-height: 1.55;
	}

	a {
		color: $main;
		transition: color 0.15s ease-in-out;
		text-decoration: none;

		&:hover {
			color: $main-l;
			text-decoration: none;
		}
	}
}

.text-bold {
	font-weight: 500;
}

.text-normal {
	font-weight: 400;
}

.text-lg {
	font-size: 18px;
}

.text-md {
	font-size: 16px;
}

.text-sm {
	font-size: 13.5px;
	line-height: 1.55;
}

.text-nowrap {
	white-space: nowrap;
}

.text-italic {
	font-style: italic;
}

.text-dark {
	color: $text;
}

.text-main {
	color: $main;
}

.text-light {
	color: $text-l;
}

.text-muted {
	color: $text-ll;
}

.text-good {
	color: $good;
}

.text-bad {
	color: $bad;
}

.text-special {
	color: $special-1;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-deleted {
	text-decoration: line-through;
}

.text-hidden {
	position: absolute;
	// clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.text-marker {
	background-color: $main-ll;
	padding: 0.2em 0.35em;
	border-radius: $br-sm;
	font-size: 0.95em;

	&--gray {
		background-color: $bg-d;
	}

	&--g-good {
		background: $g-good-l;
	}

	&--good-ll {
		background: $good-ll;
	}
}

.img-fluid {
	max-width: 100%;
	height: auto;
}

.img-max {
	width: 100%;
	min-height: auto;
}

hr {
	height: 0;
	border: none;
	background-color: transparent;
	border-bottom: 1px solid $line;
	width: 100%;
}

.hr {
	&--dotted {
		border-bottom: 2px dotted $line;
	}

	&--invert {
		border-bottom-color: $text;
	}

	&--dark {
		border-bottom-color: $line-d;
	}
}

ul.marker {
	margin: 1em 0;
	padding: 0 0 0 2.5em;
	list-style: none;

	li {
		margin: 0.75em 0;
		position: relative;

		&::before {
			content: "•";
			font-size: 1.5em;
			line-height: 1em;
			position: absolute;
			top: -0.1em;
			left: -1em;
			color: $main-l;
		}

		a {
			text-decoration: none;
			color: $main;
			transition: $t;

			&:hover {
				color: $main-d;
			}
		}
	}

	&--checked {
		li {
			&::before {
				content: "";
				width: 1em;
				height: 1em;
				background: url(../img/icons/check.svg) no-repeat center/80%;
				left: -1.25em;
			}

			&.marker__item--alert {
				&::before {
					background: url(../img/icons/alert-triangle.svg) no-repeat center/90%;
				}
			}
		}
	}
}

ol {
	font-size: 17px;
	line-height: 1.5;
	padding: 0 2em;
	margin: 1em 0;

	@media screen and (min-width: $bp-xsm) {
		font-size: 16px;
		line-height: 1.55;
	}

	li {
		margin-bottom: 0.7em;

		> a {
			color: $main;
			transition: color 0.15s ease-in-out;

			&:hover {
				color: $main-d;
				text-decoration: none;
			}
		}
	}
}

ol.marker {
	counter-reset: number;
	list-style-type: none;
	margin: 1.5em 0;
	padding: 0;
	position: relative;
	overflow: hidden;

	li {
		position: relative;
		padding-left: 2.5em;
		margin: 0 0 1.25em 0;

		&:last-child {
			&::after {
				content: "";
				width: 1px;
				height: 5000px;
				background-color: $main-ll;
				display: block;
				left: calc(1em - 3px);
				bottom: 100%;
				position: absolute;
				z-index: 0;
			}
		}

		&::before {
			content: counter(number);
			counter-increment: number;
			display: inline-block;
			position: absolute;
			left: 0;
			top: -0.05em;
			background-color: $main-ll;
			padding: 0.45em 0.7em;
			border-radius: $br-md;
			line-height: 1;
			z-index: 1;
			font-size: 0.85em;
			font-weight: 500;
			color: $main-d;
		}
	}

	&--center {
		li {
			&::before {
				top: calc(50% - 0.9em);
			}
		}
	}
}

.z-xl {
	z-index: 99;
}

.p-relative {
	position: relative;
}

.is-hidden {
	display: none;
}

.worktime {
	border: 1px solid $line-d;
	padding: 0.5em 1em;
	border-radius: $br-xl;
	line-height: 1.1;
	display: inline-flex;
	align-items: center;
	column-gap: 5px;
	font-size: 13px;
	color: $text-l;
	margin-top: 5px;

	&::before {
		content: "";
		width: 7px;
		height: 7px;
		display: block;
		background-color: $good;
		border-radius: 50%;
		flex-shrink: 0;
	}

	&.is-close {
		&::before {
			background-color: $bad;
		}
	}
}

.decor {
	&--bg-gray {
		background-color: $bg-l;
	}
	
	&--gradient-bottom-md {
		background-image: url(../img/gradient-bottom-md.svg);
		background-repeat: no-repeat;
		background-position: bottom center;
	}
}
