.d-none {
    display: none;
}

.d-block {
    display: block;
}

.d-inline {
    display: inline;
}

.d-inline-block {
    display: inline-block;
}

.d-inline-flex {
    display: inline-flex;
}

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
    row-gap: 20px;
    column-gap: 20px;
    grid-template-columns: 1fr;
}

.d-grid-sm-2 {
    @media screen and (min-width: $bp-sm) {
        grid-template-columns: 1fr 1fr;
    }
}

.d-grid-lg-3 {
    @media screen and (min-width: $bp-lg) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.grid-gap-lg-30 {
    @media screen and (min-width: $bp-lg) {
        gap: 30px;
    }
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.justify-items-center {
    justify-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-self-center {
    justify-self: center;
}

.align-center {
    align-items: center;
}

.row-gap-0 {
    row-gap: 0;
}

.row-gap-1 {
    row-gap: 20px;
}

.col-gap-1 {
    column-gap: 20px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
}

.d-sm-none {
    @media screen and (min-width: $bp-sm) {
        display: none;
    }
}
