// теплее
$main: #8d1ecd;
$main-d: #7f0fc5;
$main-l: #ac2dda;
$main-ll: #f4e0fe;

// холоднее
// $main: #781ecd;
// $main-d: #6d14c0;
// $main-l: #862dda;
// $main-ll: #f0e0fe;

$good: #59fc3f;
$bad: #e7003e;

$special-1: #e7003e;
$special-2: #cb2e8c;
$special-3: #f459b6;

$g-main: linear-gradient(100deg, $special-1, $special-2);
// $g-good: linear-gradient(100deg, #20d798, #09b3bb);
// $g-good: linear-gradient(80deg, #D2FF52, #01d8cd);
$g-good: linear-gradient(100deg, #a3ee4e, #03c5bb);

$text: #2f3142;
// $text-l: #71738f; //новый более контрастный
$text-l: #8e90a7; //старый, посветлее
$text-ll: #a1a3bd;

$line: #f2f2f9;
$line-d: #a8b3d1;

$bg-l: rgb(246, 246, 249);
$bg-d: rgb(233, 234, 240);

$overlay: rgba(43, 46, 56, 0.85);

$t: all 0.12s ease-in-out;
$ls: 0.15em;
$ls-sm: 0.07em;

$cub1: cubic-bezier(0.61, -0.44, 0.29, 1.4);
$cub2: cubic-bezier(0.71, -0.4, 0.09, 0.99);

$bp-xxxsm: 320px;
$bp-xxsm: 400px;
$bp-xsm: 575px;
// на 750 заканчиваетя мобильная версия
$bp-sm: 750px; 
$bp-md: 900px;
$bp-lg: 1100px;
$bp-xl: 1300px;
$bp-xxl: 1600px;

$br-xsm: 3px;
$br-sm: 5px;
$br-md: 6px;
$br-lg: 7px;
$br-xl: 10px;

$bs-sm: 0 6px 12px #2f314221;
$bs-md: 0 8px 16px #2f314221;
