$main: #781ECD;
$main-d: #6d14c0;
$main-l: #862dda;
$main-ll: #F0E0FE;

$good: #59FC3F;
$bad: #E7003E;
$special-1: #f459b6;

$text: #2F3142;
$text-l: #71738f;
$text-l: #8E90A7; //старый, посветлее
$text-ll: #a1a3bd;

$line: #F2F2F9;
$line-d: #dedee6;

$bg-l: rgb(246, 246, 249);
$bg-d: rgb(240, 240, 243);

$overlay: rgba(43, 46, 56, 0.85);

$t: all 0.12s ease-in-out;
$ls: 0.15em;
$ls-sm: 0.07em;

$cub1: cubic-bezier(0.61, -0.44, 0.29, 1.4);
$cub2: cubic-bezier(0.71, -0.4, 0.09, 0.99);

$bp-xxxsm: 320px;
$bp-xxsm: 400px;
$bp-xsm: 575px;
$bp-sm: 750px;
$bp-md: 900px;
$bp-lg: 1100px;
$bp-xl: 1300px;
$bp-xxl: 1600px;

$br-sm: 5px;
$br-md: 6px;
$br-lg: 7px;
$br-xl: 10px;

$bs-sm: 0 6px 12px #2f314221;
$bs-md: 0 8px 16px #2f314221;