.accordion {
    &__item {
        border-radius: $br-xl;
        transition: $t;
        overflow: hidden;

        &.is-opened {
            background-color: $bg-l;
            margin: 10px 0 20px 0;

            .accordion__title {
                padding-top: 20px;
                padding-bottom: 5px;
                -webkit-tap-highlight-color: transparent;

                &::before {
                    transform: rotate(45deg) scale(1.15);
                }
            }

            .accordion__content {
                max-height: 10000px;
                padding-bottom: 30px;
            }
        }
    }

    &__title {
        font-weight: 500;
        font-size: 17px;
        line-height: 1.4;
        cursor: pointer;
        display: flex;
        column-gap: 15px;
        padding: 15px;
        transition: $t;
        will-change: padding;

        @media screen and (min-width: $bp-md) {
            font-size: 18px;
            padding: 15px 30px;
            line-height: 1.55;
        }

        &:hover {
            background-color: $bg-l;
        }

        &::before {
            content: "";
            transition: $t;
            display: block;
            width: 22px;
            height: 22px;
            background: url(../img/icons/plus.svg) no-repeat center/100%;
            flex-shrink: 0;
        }
    }

    &__content {
        max-height: 0;
        overflow: hidden;
        padding: 0 30px 0 53px;
        transition: $t;
        will-change: max-height;

        @media screen and (min-width: $bp-md) {
            padding: 0 50px 0 67px;
        }
    }

    &--menu {
        .accordion__item {
            background-color: $bg-l;
            margin-bottom: 10px;
        }

        .accordion__title {
            padding: 15px 30px;

            &::after {
                margin-left: auto;
                content: "";
                transition: $t;
                display: block;
                width: 22px;
                height: 22px;
                background: url(../img/icons/chevron-down.svg) no-repeat center/100%;
                flex-shrink: 0;
            }

            &::before {
                display: none;
            }
        }

        .accordion__content {
            padding: 0;
        }
    }
}
