.alert {
    padding: 12px 20px;
    border-radius: $br-lg;
    background-color: $bg-l;
    display: flex;
    column-gap: 15px;
    flex-wrap: wrap;
    align-items: center;

    @media screen and (min-width: $bp-md) {
        padding: 10px 35px;
        column-gap: 25px;
    }

    @media screen and (min-width: $bp-lg) {
        flex-wrap: nowrap;
    }

    &__content {
        padding: 10px 10px 20px 10px;

        > p {
            margin: 0.5em 0;
        }
    }

    &__pic {
        padding: 20px;
        width: 100%;
        display: flex;

        @media screen and (min-width: $bp-lg) {
            width: auto;
        }

        &--center {
            justify-content: center;
        }

        &--end {
            justify-content: flex-end;
        }
    }

    &--sm {
        padding: 12px 20px;
        border-radius: $br-md;
        column-gap: 10px;

        p {
            margin: 0.35em 0;
        }
    }

    &--lg {
        @media screen and (min-width: $bp-lg) {
            padding: 20px 45px;
            border-radius: $br-xxl;
            column-gap: 30px;
        }

        p {
            margin: 0.5em 0;
        }
    }

    &--outline {
        background-color: #fff;
        border: 1px solid $line-d;
    }

    &--main {
        background-color: $main;
        color: #fff;

        &.alert--outline {
            background-color: #fff;
            color: $main;
            border-color: $main;
        }
    }

    &--good {
        background: $g-good;
        color: $text;

        &.alert--outline {
            background: #fff;
            color: darken($special-4, 4);
            border-color: $special-4;
        }
    }

    &--bad {
        background: $g-special;
        color: #fff;

        &.alert--outline {
            background: #fff;
            color: $bad;
            border-color: $bad;
        }
    }
}
