.breadcrumbs {
    display: flex;
    list-style: none;
    margin: 25px 0;
    padding: 0;
    column-gap: 7px;
    row-gap: 5px;
    flex-wrap: wrap;

    > li {
        display: flex;
        align-items: center;
        column-gap: 7px;
        font-size: 14px;
        margin: 0;

        &::after {
            content: "";
            display: block;
            width: 12px;
            height: 12px;
            background: url(../img/icons/chevron-down.svg) no-repeat center/100%;
            transform: rotate(-90deg);
        }

        &:last-child {
            &::after {
                display: none;
            }
        }

        > a {
            text-decoration: none;
            color: $text-l;
            transition: $t;

            &:hover {
                color: $main;
            }
        }

        > span {
            color: $text-l;
        }
    }
}
