.btn {
    border: none;
    padding: 0.72em 1.5em;
    line-height: 1.4;
    border-radius: $br-md;
    color: #fff;
    background-color: $main;
    border: 2px solid $main;
    transition: $t;
    font-weight: 500;
    font-size: 14.5px;
    display: inline-block;
    text-decoration: none;
    text-align: center;

    &:hover {
        background-color: $main-d;
    }

    &--sm {
        padding: 0.45em 1em;
        font-weight: 400;
        font-size: 14px;
    }

    &--full {
        width: 100%;
    }

    &--bold {
        padding: 1.25em 1.5em;
    }

    &--outline {
        background-color: #fff;
        color: $main;
        border-color: lighten($main, 22);

        &:hover {
            background-color: lighten($main-ll, 4.5);
        }
    }

    &--secondary {
        background-color: $main-ll;
        border-color: $main-ll;
        color: $main;

        &:hover {
            background-color: darken($main-ll, 2);
        }
    }

    &--dark {
        background-color: $text;
        border-color: $text;

        &:hover {
            background-color: darken($text, 4);
            color: #fff;
        }

        &.btn--outline {
            background-color: #fff;
            color: $text;
            border-color: $text;

            &:hover {
                background-color: $bg-l;
            }
        }
    }
}

.btn-inline {
    display: inline;
    background: none;
    padding: 0;
    border: none;
    color: $main;
    font-size: inherit;

    &:hover {
        color: $main-d;
        // text-decoration: underline;
    }
}
