.card-colors {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1px;
    row-gap: 2px;
    margin-left: -2px;
    margin-top: 5px;

    @media screen and (min-width: $bp-xxxl) {
        margin-left: -2px;
    }

    &--show-all {
        .card-color {
            display: flex;
        }
    }
}

.card-color {
    width: 30px;
    height: 30px;
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: $br-sm;
    border: 1px solid transparent;

    @media screen and (min-width: $bp-md) {
        width: 22px;
        height: 22px;
    }

    @media screen and (min-width: $bp-md) {
        width: 24px;
        height: 24px;
    }    

    &::before {
        content: "";
        width: 22px;
        height: 22px;
        background-color: $bg-d;
        display: block;
        z-index: 1;
        border-radius: 50%;
        opacity: 0.8;
        transition: $t;

        @media screen and (min-width: $bp-md) {
            width: 12px;
            height: 12px;
        }

        @media screen and (min-width: $bp-xxxl) {
            width: 14px;
            height: 14px;
        }
    }

    &::after {
        content: attr(aria-label);
        display: none;
        background-color: $text;
        color: #fff;
        padding: 6px 10px;
        font-size: 12.3px;
        position: absolute;
        bottom: calc(100% + 6px);
        left: 0;
        z-index: 1;
        line-height: 1;
        border-radius: $br-xsm;
        white-space: nowrap;
        pointer-events: none;
        user-select: none;
    }

    &:hover {
        &::after {
            display: block;
        }

        &::before {
            opacity: 1;

            @media screen and (min-width: $bp-md) {
                transform: scale(1.15);
            }
        }
    }

    &:nth-child(-n + 5) {
        display: flex;
    }

    &__more {
        border: none;
        border-radius: $br-sm;
        background-color: $bg-d;
        color: $text;
        font-size: 13px;
        padding: 0.2em 0.5em;
        line-height: 1;
        margin-left: 2px;

        &:hover {
            background-color: darken($bg-d, 6);
        }
    }

    &--hidden {
        display: none;
    }

    &--black {
        &::before {
            background-color: #404142;
        }
    }

    &--white {
        &::before {
            background-color: #fff;
            box-shadow: 0 0 2px 0 #383838;
        }
    }

    &--blackwhite {
        &::before {
            background: linear-gradient(90deg, #fff 50%, #3e3f41 50%);
            box-shadow: 0 0 2px 0 #383838;
        }
    }

    &--biege {
        &::before {
            background-color: #ffe8d6;
            box-shadow: 0 0 2px 0 #383838;
        }
    }

    &--lightblue {
        &::before {
            background-color: #afcdf5;
        }
    }

    &--yellow {
        &::before {
            background-color: #fcd111;
        }
    }

    &--green {
        &::before {
            background-color: #51da28;
        }
    }

    &--brown {
        &::before {
            background-color: #a75c46;
        }
    }

    &--red {
        &::before {
            background-color: #fc3d2f;
        }
    }

    &--orange {
        &::before {
            background-color: #ffa51f;
        }
    }

    &--magenta {
        &::before {
            background-color: #ff8ac5;
        }
    }

    &--gray {
        &::before {
            background-color: #b5b8b9;
        }
    }

    &--blue {
        &::before {
            background-color: #4491f5;
        }
    }

    &--purple {
        &::before {
            background-color: #cb7cff;
        }
    }

    &--multi {
        &::before {
            background: linear-gradient(#add8e6, #2d76ff, #b921b9, #f00, #ffa500, #ff0, #71dd0b);
            background: conic-gradient(#add8e6, #2d76ff, #b921b9, #f00, #ffa500, #ff0, #71dd0b);
        }
    }
}
