.card-colors {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 1px;
    row-gap: 2px;
    margin-left: -2px;
    margin-top: 5px;
    padding-right: 10px;

    @media screen and (min-width: $bp-xxxl) {
        margin-left: -2px;
    }

    &--show-all {
        .card-color {
            display: flex;
        }
    }
}

.card-color {
    width: 31px;
    height: 31px;
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: $br-lg;
    border: 1px solid transparent;

    @media screen and (min-width: $bp-md) {
        width: 22px;
        height: 22px;
    }

    @media screen and (min-width: $bp-md) {
        width: 24px;
        height: 24px;
    }

    &::before {
        content: "";
        width: 19px;
        height: 19px;
        background-color: $bg-d;
        display: block;
        z-index: 1;
        border-radius: 50%;
        opacity: 0.8;
        transition: $t;

        @media screen and (min-width: $bp-md) {
            width: 12px;
            height: 12px;
        }
    }

    &::after {
        content: attr(aria-label);
        display: none;
        background-color: $text;
        color: #fff;
        padding: 6px 10px;
        font-size: 12.3px;
        position: absolute;
        bottom: calc(100% + 6px);
        left: 0;
        z-index: 1;
        line-height: 1;
        border-radius: $br-xsm;
        white-space: nowrap;
        pointer-events: none;
        user-select: none;
    }

    &:hover {
        &::after {
            display: block;
        }

        &::before {
            opacity: 1;
        }
    }

    &:nth-child(-n + 5) {
        display: flex;
    }

    &__more {
        border: none;
        border-radius: $br-sm;
        background-color: $bg-d;
        color: $text;
        font-size: 13px;
        padding: 0.4em 0.5em;
        line-height: 1;
        margin-left: 2px;
        margin-top: 1px;

        &:hover {
            background-color: darken($bg-d, 6);
        }
    }

    &--hidden {
        display: none;
    }

    &--incart {
        box-shadow: $bs-xsm;
        // box-shadow: $bs-xsm, 0 0 0px 1px $main inset;
        border-color: $main-l;
    }

    &--black {
        &::before {
            background-color: $c-black;
        }
    }

    &--white {
        &::before {
            background-color: $c-white;
            box-shadow: 0 0 2px 0 #383838;
        }
    }

    &--blackwhite {
        &::before {
            background: $c-blackwhite;
            box-shadow: 0 0 2px 0 #383838;
        }
    }

    &--biege {
        &::before {
            background-color: $c-biege;
            box-shadow: 0 0 2px 0 #383838;
        }
    }

    &--lightblue {
        &::before {
            background-color: $c-lightblue;
        }
    }

    &--yellow {
        &::before {
            background-color: $c-yellow;
        }
    }

    &--green {
        &::before {
            background-color: $c-green;
        }
    }

    &--brown {
        &::before {
            background-color: $c-brown;
        }
    }

    &--red {
        &::before {
            background-color: $c-red;
        }
    }

    &--orange {
        &::before {
            background-color: $c-orange;
        }
    }

    &--magenta {
        &::before {
            background-color: $c-magenta;
        }
    }

    &--gray {
        &::before {
            background-color: $c-gray;
        }
    }

    &--blue {
        &::before {
            background-color: $c-blue;
        }
    }

    &--purple {
        &::before {
            background-color: $c-purple;
        }
    }

    &--multi {
        &::before {
            background: $c-multi-linear;
            background: $c-multi-conic;
        }
    }
}
