.catalog-nav {
    position: absolute;
    background-color: #fff;
    top: 70px;
    left: 0;
    right: 0;
    z-index: 2;
    height: calc(100vh - 70px);
    display: none;

    @media screen and (min-width: $bp-md) {
        top: 70px;
        height: calc(100vh - 110px);
    }

    @media screen and (min-width: $bp-lg) {
        top: 80px;
        height: calc(100vh - 120px);
    }

    &.is-active {
        display: block;
    }

    > .container {
        height: 100%;
        border-radius: $br-xl;

        @media screen and (min-height: 1200px) {
            height: calc(80%);
        }
    }

    &__inner {
        height: calc(100% - 70px);

        @media screen and (min-width: $bp-sm) {
            display: grid;
            grid-template-columns: minmax(280px, 1fr) 4fr;
            height: 100%;
            padding-bottom: 30px;
        }

        @media screen and (min-width: $bp-md) {
            grid-template-columns: minmax(300px, 1fr) 4fr;
        }

        @media screen and (min-width: $bp-xl) {
            margin: 0 -14px;
            // padding-bottom: 50px;
        }
    }

    &__header {
        // border: 1px solid blueviolet;
        overflow-y: scroll;
        padding-right: 5px;
        height: 100%;
        margin-right: -15px;

        @media screen and (min-width: $bp-sm) {
            margin-right: 0;
            padding-top: 15px;
            padding-right: 5px;
        }

        @media screen and (min-width: $bp-md) {
            padding-right: 15px;
        }

        &::-webkit-scrollbar {
            width: 10px;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $line;
            border-radius: $br-sm;
            border: 2px solid #fff;
            transition: $t;

            &:hover {
                background-color: $line-d;
            }
        }
    }

    &__body {
        display: none;
        overflow-y: scroll;

        &::after {
            content: "";
            display: block;
            height: 50px;
            background: linear-gradient(transparent, #fff 50%);
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            pointer-events: none;
            z-index: 1;
        }

        @media screen and (min-width: $bp-sm) {
            display: block;
            border-left: 1px solid $line;
        }

        &::-webkit-scrollbar {
            width: 10px;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $line;
            border-radius: $br-sm;
            border: 2px solid #fff;
            transition: $t;

            &:hover {
                background-color: $line-d;
            }
        }
    }

    &__titles {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(115px, 1fr));
        row-gap: 50px;
        column-gap: 10px;
        padding-top: 40px;

        @media screen and (min-width: $bp-xxsm) {
            column-gap: 15px;
            grid-template-columns: 1fr 1fr 1fr;
        }

        @media screen and (min-width: $bp-xsm) {
            column-gap: 20px;
            padding-left: 20px;
            padding-right: 20px;
        }

        @media screen and (min-width: $bp-sm) {
            padding-top: 0;
            padding-left: 0;
            padding-right: 0;
            row-gap: 0;
            grid-template-columns: 1fr;
        }
    }

    &__title {
        display: flex;
        flex-direction: column;
        column-gap: 14px;
        align-items: center;
        text-align: center;
        background-color: $bg-l;
        text-decoration: none;
        color: $text;
        border-radius: $br-xl;
        font-size: 13.5px;
        line-height: 1.2;
        transition: background-color 0.2s ease-in-out;
        font-weight: 500;
        position: relative;

        @media screen and (min-width: $bp-xsm) {
            padding-left: 20px;
            padding-right: 20px;
        }

        @media screen and (min-width: $bp-sm) {
            align-items: center;
            column-gap: 10px;
            font-size: 14px;
            font-weight: 400;
            border-radius: $br-lg;
            flex-direction: row;
            background: none;
            padding: 8px 10px;
            transition: none;
            text-align: left;
        }

        @media screen and (min-width: $bp-md) {
            font-size: 14.5px;
        }

        @media screen and (min-width: $bp-lg) {
            font-weight: 500;
            padding: 6px 14px;
        }

        &:hover {
            background-color: $bg-d;

            @media screen and (min-width: $bp-sm) {
                background-color: $bg-l;
            }
        }

        &::after {
            @media screen and (min-width: $bp-sm) {
                content: "";
                display: block;
                width: 18px;
                height: 18px;
                background: url(../img/icons/chevron-down.svg) no-repeat center/100%;
                margin-left: auto;
                transform: rotate(-90deg);
                opacity: 0.75;
            }
        }

        &.is-active {
            @media screen and (min-width: $bp-sm) {
                background-color: $bg-l;
            }
        }

        &--female {
            background-color: #f9eeff;

            @media screen and (min-width: $bp-sm) {
                background-color: #fff;
            }

            &:hover {
                background-color: darken(#f9eeff, 3);

                @media screen and (min-width: $bp-sm) {
                    background-color: $bg-l;
                }
            }
        }

        &--male {
            background-color: #eef3ff;

            @media screen and (min-width: $bp-sm) {
                background-color: #fff;
            }

            &:hover {
                background-color: darken(#eef3ff, 3);

                @media screen and (min-width: $bp-sm) {
                    background-color: $bg-l;
                }
            }
        }

        &--special {
            background-color: #ffe4e3;
            color: $special-1;

            @media screen and (min-width: $bp-sm) {
                background-color: #fff;
            }

            &:hover {
                background-color: darken(#ffe2e2, 3);

                @media screen and (min-width: $bp-sm) {
                    background-color: $bg-l;
                }
            }
        }

        > img {
            width: 85%;
            height: auto;
            flex-shrink: 0;
            transform: translateY(10px);
            margin-top: -40px;
            pointer-events: none;

            @media screen and (min-width: $bp-sm) {
                width: 40px;
                height: 40px;
                transform: none;
                margin: 0;
            }

            @media screen and (min-width: $bp-lg) {
                width: 48px;
                height: 48px;
            }
        }

        > span {
            padding: 3px 15px 15px 15px;
            margin: auto 0;

            @media screen and (min-width: $bp-xsm) {
                padding-top: 15px;
                padding-bottom: 20px;
            }

            @media screen and (min-width: $bp-sm) {
                padding: 0;
            }
        }
    }
}

.catalog-tab {
    padding: 20px 0 0 25px;
    display: none;
    max-width: 1000px;

    @media screen and (min-width: $bp-md) {
        padding-right: 10px;
    }

    @media screen and (min-width: $bp-xl) {
        padding-left: 50px;
    }

    @media screen and (min-width: $bp-xxxl) {
        max-width: 1200px;
    }

    &.is-active {
        display: block;
    }

    &__title {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 30px;
        line-height: 1.1;

        @media screen and (min-width: $bp-md) {
            font-size: 24px;
        }

        @media screen and (min-width: $bp-lg) {
            font-size: 28px;
        }
    }

    &__content {
        column-count: auto;
        column-width: 170px;
        column-gap: 20px;
        column-fill: balance;

        @media screen and (min-width: $bp-lg) {
            column-gap: 30px;
            column-width: 200px;
        }

        @media screen and (min-width: $bp-lg) {
            column-gap: 40px;
        }

        @media screen and (min-width: $bp-xxxl) {
            column-width: 230px;
        }
    }

    &__menu {
        display: grid;
        justify-items: start;
        width: 100%;
        row-gap: 7px;
        margin-bottom: 20px;
        break-inside: avoid-column;
        page-break-inside: avoid;

        @media screen and (min-width: $bp-md) {
            margin-bottom: 35px;
        }

        > a {
            text-decoration: none;
            color: $text;
            line-height: 1.2;
            font-size: 13.5px;
            color: $text;

            &:first-child {
                font-size: 14.5px;
                color: $text;

                @media screen and (min-width: $bp-md) {
                    font-weight: 500;
                }

                @media screen and (min-width: $bp-xxxl) {
                    font-size: 15.5px;
                }
            }

            &:hover {
                color: $main;
            }

            &:nth-child(n + 2) {
                display: none;

                @media screen and (min-width: $bp-md) {
                    display: block;
                }
            }

            &:nth-child(n + 7) {
                display: none;
            }

            @media screen and (min-width: $bp-xxxl) {
                font-size: 14.5px;
            }
        }
    }

    &__menu--show-all {
        > a {
            &:nth-child(n + 7) {
                @media screen and (min-width: $bp-md) {
                    display: inline;
                }
            }
        }

        .catalog-tab__more {
            color: $text-ll;

            &:hover {
                color: $text-l;
            }

            &::before {
                content: "Скрыть ";
            }
            &::after {
                transform: scale(-1);
            }
        }
    }

    &__more {
        display: none;
        column-gap: 5px;
        align-items: center;
        transition: $t;
        border: none;
        font-size: 13px;
        text-align: left;
        color: $text-ll;
        color: $main-l;
        background: none;
        padding: 7px 0;

        @media screen and (min-width: $bp-md) {
            display: flex;
        }

        &:hover {
            color: $main-d;
        }

        &::after {
            content: "";
            display: block;
            width: 1em;
            height: 1em;
            background: url(../img/icons/chevron-down.svg) no-repeat center/100%;
            transition: $t;
        }

        &::before {
            content: "Показать еще ";
        }
    }
}
