.catalog-filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 8px;
    row-gap: 10px;

    &--show-all {
        .catalog-filter {
            display: block;
        }
    }
}

.catalog-filter {
    border-radius: $br-lg;
    position: relative;
    display: none;

    &:nth-child(-n + 10) {
        display: block;
    }

    &[data-active-filter-count] {
        &::after {
            content: attr(data-active-filter-count);
            display: inline;
            position: absolute;
            right: -0.25em;
            top: -0.5em;
            padding: 0.4em 0.7em;
            background: $main-l;
            color: #fff;
            font-size: 9px;
            line-height: 1;
            border-radius: $br-lg;
            animation: slidedown 0.3s 0s 1 $cub3;
        }

        // .catalog-filter__title {
        //     background-color: $bg-l;
        // }
    }

    &.is-active {
        .catalog-filter__title {
            border-color: $line-d;
            background-color: $bg-l;
            border-color: $text;

            &::after {
                transform: scale(1, -1);
            }
        }

        .catalog-filter__content {
            display: block;
        }
    }

    &__title {
        font-size: 14px;
        line-height: 1.2;
        display: flex;
        align-items: center;
        column-gap: 2px;
        cursor: pointer;
        padding: 0.5em 0.85em;
        border-radius: $br-lg;
        transition: $t;
        border: 1px solid $line-d;
        background-color: #fff;
        color: $text;

        @media screen and (min-width: $bp-lg) {
            font-size: 14.5px;
        }

        &:hover {
            // background-color: $bg-l;
            box-shadow: $bs-xsm;
            border-color: darken($line-d, 7);
            // border-color: $text;
        }

        &::after {
            content: "";
            display: block;
            width: 1em;
            height: 1em;
            background: url(../img/icons/chevron-down.svg) no-repeat center/100%;
        }
    }

    &__item {
        cursor: pointer;
    }

    &__content {
        display: none;
        position: absolute;
        z-index: 99;
        background-color: #fff;
        padding: 20px;
        margin-top: 10px;
        border-radius: $br-lg;
        border: 1px solid $line;
        box-shadow: $bs-sm;
        width: 1000px;
        max-width: 275px;

        &::before {
            content: "";
            width: 10px;
            height: 10px;
            background-color: #fff;
            border: 1px solid $line;
            border-bottom: none;
            border-right: none;
            position: absolute;
            top: -4px;
            left: 20px;
            transform: rotate(45deg);
        }
    }

    &__more {
        font-size: 14px;
        background-color: $text-l;
        background-color: #fff;
        border: 1px solid $text;
        color: $text;
        // border: none;
        border-radius: $br-lg;
        padding: 0.65em 1em;
        transition: $t;
        line-height: 1;

        &:hover {
            background-color: $bg-l;
            box-shadow: $bs-xsm;
        }

        &:active {
            transform: translateY(2px);
        }
    }
}

.filter {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    &__row {
        display: flex;
        align-items: center;

        > label {
            font-size: 15px;
            cursor: pointer;
            display: flex;
            align-items: center;
            column-gap: 10px;
            user-select: none;
            transition: $t;
            line-height: 1.2;

            &::before {
                content: "";
                display: block;
                width: 1.35em;
                height: 1.35em;
                border: 1px solid $text-ll;
                border-radius: $br-sm;
                background: url(../img/icons/check-w.svg) no-repeat center/73%;
                transition: $t;
                flex-shrink: 0;
            }

            &:hover {
                &::before {
                    border-color: $text;
                }
            }

            > span {
                font-size: 12.5px;
                color: $text-ll;
            }
        }

        > input {
            position: absolute;
            width: 0;
            height: 0;
            opacity: 0;
            margin: 0;

            &:checked {
                + label {
                    &:hover {
                        color: lighten($text, 25);
                    }

                    &::before {
                        border-color: $main;
                        background-color: $main;
                    }
                }
            }
        }
    }
}
