.category-cards {
    margin: 60px 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 30px;
    grid-row: 1fr;

    @media screen and (min-width: $bp-xsm) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (min-width: $bp-sm) {
        grid-template-columns: repeat(5, 1fr);
    }

    @media screen and (min-width: $bp-md) {
        grid-template-columns: repeat(6, 1fr);
    }

    @media screen and (min-width: $bp-xl) {
        grid-template-columns: repeat(10, 1fr);
    }

    &--horizontal {
        grid-template-columns: repeat(7, 1fr);

        .category-card {
            height: 100px;
        }

        .category-card__link {
            flex-direction: row;
        }

        .category-card__title {
            width: 80%;
            font-size: 13px;
        }

        .category-card__pic {
            // border: 1px solid red;
            position: absolute;
            width: 50%;
            height: 70%;
            right: 0;
            top: auto;
            bottom: 0;

            > img {
                object-position: 25px top;
                object-fit: cover;
            }
        }
    }
}

.category-card {
    border-radius: $br-xl;
    height: 120px;
    position: relative;
    overflow: hidden;
    transition: $t;

    @media screen and (min-width: $bp-sm) {
        height: 135px;
    }

    @media screen and (min-width: $bp-md) {
        height: 150px;
    }

    &:hover {
        transform: translateY(-2px);

        &::after {
            background-color: rgba(15, 13, 27, 0.05);
        }
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        inset: 0;
        border-radius: $br-xl;
        background-color: rgba(15, 13, 27, 0.03);
        pointer-events: none;
        transition: $t;
    }

    &--special {
        &::after {
            background-color: rgba(253, 5, 129, 0.11);
        }

        &:hover {
            &::after {
                background-color: rgba(253, 5, 129, 0.15);
            }
        }
    }

    &__link {
        display: block;
        height: 100%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    &__title {
        color: $text;
        padding: 20px;
        flex-shrink: 0;
        display: block;
        line-height: 1.25;
        max-height: 4em;
        overflow: hidden;
        font-size: 14px;

        word-break: break-word;
        overflow-wrap: break-word;
        // hyphens: auto;
        text-overflow: ellipsis;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }

    &__pic {
        // border: 1px solid blue;
        height: 100%;
        width: 80%;
        // mix-blend-mode: multiply;
        overflow: hidden;
        align-self: flex-end;

        > img {
            // border: 1px solid red;
            display: block;
            width: 100%;
            // position: absolute;
            // right: -40px;
            // height: auto;
            height: 100%;
            object-fit: cover;
            object-position: 25px 0px;
        }
    }
}
