.catalog-page {
    &__header {
        display: flex;
        align-items: center;
        column-gap: 10px;

        > h1 {
            margin: 0;
            font-size: 28px;
        }
    }

    &__counter {
        font-size: 14px;
        color: $text-l;
    }
}

.subcategories-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 6px;
    row-gap: 6px;

    > a {
        display: block;
        padding: 0.4em 1em;
        font-size: 14px;
        background-color: $bg-l;
        color: $text;
        border-radius: $br-xxl;

        &:hover {
            color: $text;
            background-color: $bg-d;
        }
    }
}

.sort-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 15px;
    font-size: 14px;

    > a {
        line-height: 1.3;
        color: $text-l;
        border-bottom: 1px dashed;
        border-bottom-color: lighten($text-l, 23);

        &:hover {
            color: $main;
            border-bottom-color: $main;
        }

        &.is-active {
            color: $main;
            border-bottom-color: transparent;
        }
    }
}

.pagination {
    display: flex;
    align-items: center;
    font-size: 15px;
    column-gap: 3px;

    &__link {
        line-height: 1;
        display: block;
        padding: 0.55em 0.8em;
        color: $text;
        border-radius: $br-md;

        &--active {
            color: $main-l;
            background-color: $bg-l;
        }

        &:hover {
            background-color: $bg-l;
            color: $text;
        }
    }

    &__cap {
        display: flex;
        align-items: center;
        column-gap: 1px;

        &::before {
            content: "";
            display: block;
            width: 18px;
            height: 18px;
            background: url(../img/icons/chevron-down.svg) no-repeat center/100%;
            transform: rotate(90deg);
            transition: $t;
        }

        &:last-child {
            &::before {
                transform: rotate(-90deg);
                order: 1;
            }
        }

        &.pagination__link {
            &::before {
                filter: brightness(0);
            }
        }

        &:hover {
            &::before {
                transform: rotate(90deg) translateY(2px);
            }

            &:last-child {
                &::before {
                    transform: rotate(-90deg) translateY(2px);
                }
            }
        }
    }

    > span {
        line-height: 1;
        color: $text-ll;
        padding: 0.5em 0.65em;
        pointer-events: none;
    }
}
