.category-cards {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 30px;

    @media screen and (min-width: $bp-xxsm) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (min-width: $bp-xsm) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (min-width: $bp-sm) {
        grid-template-columns: repeat(5, 1fr);
    }

    @media screen and (min-width: $bp-md) {
        grid-template-columns: repeat(7, 1fr);
    }

    @media screen and (min-width: $bp-xl) {
        grid-template-columns: repeat(10, 1fr);
    }

    &--horizontal {
        @media screen and (min-width: $bp-xl) {
            grid-template-columns: repeat(8, 1fr);
        }

        .category-card {
            height: 100px;
        }

        .category-card__link {
            flex-direction: row;
        }

        .category-card__title {
            width: 80%;
            font-size: 13px;
        }

        .category-card__pic {
            position: absolute;
            width: 50%;
            height: 70%;
            right: 0;
            top: auto;
            bottom: 0;

            > img {
                object-position: 25px top;
                object-fit: cover;
            }
        }
    }

    &--lg {
        column-gap: 25px;

        @media screen and (min-width: $bp-xsm) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media screen and (min-width: $bp-sm) {
            grid-template-columns: repeat(4, 1fr);
        }

        @media screen and (min-width: $bp-md) {
            grid-template-columns: repeat(6, 1fr);
        }

        @media screen and (min-width: $bp-xl) {
            grid-template-columns: repeat(6, 1fr);
        }

        .category-card {
            height: 120px;
        }

        .category-card__pic {
            margin-top: auto;
            width: 30%;
            height: 55%;
            position: absolute;
            right: 0;
            bottom: 0;

            > img {
                object-position: left bottom;
                object-fit: contain;
            }
        }
    }

    &--xl {
        column-gap: 25px;

        @media screen and (min-width: $bp-xsm) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media screen and (min-width: $bp-sm) {
            grid-template-columns: repeat(4, 1fr);
        }

        @media screen and (min-width: $bp-md) {
            grid-template-columns: repeat(6, 1fr);
        }

        @media screen and (min-width: $bp-xl) {
            grid-template-columns: repeat(6, 1fr);
        }

        .category-card {
            height: 140px;
        }

        .category-card__header {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        .category-card__title {
            font-weight: 500;
        }

        .category-card__pic {
            margin-top: auto;
            width: 45%;
            height: 55%;
            position: absolute;
            right: 0;
            bottom: 0;

            > img {
                object-position: left bottom;
                object-fit: contain;
            }
        }
    }
}

.category-card {
    border-radius: $br-xl;
    height: 135px;
    position: relative;
    overflow: hidden;
    transition: $t;

    @media screen and (min-width: $bp-md) {
        height: 140px;
    }

    &:hover {
        transform: translateY(-2px);

        &::after {
            background-color: rgba(15, 15, 65, 0.05);
        }
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        inset: 0;
        border-radius: $br-xl;
        background-color: rgba(15, 15, 65, 0.03);
        pointer-events: none;
        transition: $t;
    }

    &--special {
        &::after {
            background-color: $main-l;
            opacity: 0.1;
        }

        &:hover {
            &::after {
                background-color: $main-l;
                opacity: 0.15;
            }
        }
    }

    &__link {
        display: block;
        height: 100%;
        z-index: 1;
        display: flex;
        flex-direction: column;
    }

    &__header {
        padding: 20px;
        font-size: 13px;
        color: $text;
        display: grid;
        row-gap: 5px;
        z-index: 1;
        color: $text-l;
    }

    &__title {
        color: $text;
        flex-shrink: 0;
        display: block;
        line-height: 1.25;
        max-height: 4em;
        overflow: hidden;
        font-size: 14px;
        z-index: 1;

        word-break: break-word;
        overflow-wrap: break-word;
        // hyphens: auto;
        text-overflow: ellipsis;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        // margin-bottom: auto;
    }

    &__footer {
        position: absolute;
        bottom: 10px;
        left: 20px;
        font-size: 13px;
        color: $text-l;
    }

    &__pic {
        // border: 1px solid red;
        margin-top: auto;
        width: 55%;
        height: 45%;
        position: absolute;
        right: 0;
        bottom: 0;

        > img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: left bottom;
        }
    }
}
