.delivery-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 20px;
    flex-wrap: wrap;

    @media screen and (min-width: $bp-sm) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @media screen and (min-width: $bp-lg) {
        // display: flex;
    }
}

.delivery-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 10px;
    padding: 20px;
    font-size: 14px;
    min-height: 130px;
    border-radius: $br-xl;
    border: 1px solid $line-d;
    transition: $t;
    background-color: #fff;
    color: $text;
    font-weight: 500;

    &:hover {
        transform: translateY(-1px);
        box-shadow: $bs-md;
        color: $main;

        > span {
            opacity: 1;
            &::after {
                filter: none;
            }
        }
    }

    > span {
        display: flex;
        align-items: center;
        column-gap: 3px;
        order: 1;
        opacity: 0.5;

        &::after {
            content: "";
            display: inline-block;
            transform: translateY(-1px);
            width: 1em;
            height: 1em;
            background: url(../img/icons/external-main.svg) no-repeat center/100%;
            filter: brightness(0);
        }
    }

    > img {
        display: block;
        width: 100%;
        max-width: 100px;
    }
}
