.dropdown-products {
    // height: calc(100% - 60px);
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0;
    overflow-y: scroll;
    padding: 0 0 10px 0;

    &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 80px;
        background: linear-gradient(transparent 0%, #fff 40%);
        transition: $t;
        z-index: 1;
        border-radius: $br-md;
        pointer-events: none;
    }

    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $line;
        border-radius: $br-sm;
        border: 2px solid #fff;
        transition: $t;

        &:hover {
            background-color: $line-d;
        }
    }

    .product-card {
        display: flex;
        flex-direction: row;
        column-gap: 18px;
        padding: 12px 15px 12px 15px;
        border-radius: 0;

        &::after {
            display: block;
            content: "";
            position: absolute;
            height: 1px;
            background: linear-gradient(90deg, $line, #fff);
            bottom: 0;
            left: 0;
            right: 0;
        }

        &:last-child {
            &::after {
                display: none;
            }
        }

        &:hover {
            background: linear-gradient(90deg, $bg-l, transparent);
        }

        &__head {
            width: 43px;
            flex-shrink: 0;
            transition: $t;
            border-radius: $br-xsm;
            background: none;

            &:hover {
                opacity: 0.85;
            }
        }

        &__pic {
            border-radius: $br-xsm;
            font-size: 12px;
            width: auto;
            background-color: $bg-d;
            width: 100%;
            height: auto;
            display: block;
        }

        &__badges {
            position: relative;
            height: auto;
            padding: 0;
            flex-direction: row;
            column-gap: 4px;
            padding-bottom: 5px;

            .badge {
                border-radius: $br-xsm;
                margin-top: 0;
                font-size: 10px;
                padding: 5px 5px 3px 5px;
            }
        }

        &__body {
            display: flex;
            flex-direction: column;
            row-gap: 4px;
            padding: 0;
        }

        &__body-link {
            text-decoration: none;
            color: $text-l;
            font-size: 13.5px;
            line-height: 1.3;
            transition: $t;

            max-height: 40px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            word-break: break-word;

            &:hover {
                color: $main;

                .product-card__brand {
                    color: $main;
                }
            }
        }

        .card-price {
            &__actual {
                font-size: 14.5px;
                line-height: 1;
            }

            &__old {
                font-size: 13px;
            }

            &__warning {
                font-size: 13px;
            }

            &--sm {
                .card-price__title {
                    font-size: 12px;
                }

                .card-price__actual {
                    font-size: 13px;
                }

                .card-price__old {
                    font-size: 12px;
                }
            }
        }
    }
}
