.fancybox {
    &__container {
        --fancybox-bg: rgb(40 39 61 / 95%);
        --fancybox-color: $text-l;
    }

    &__content {
        padding: 0;
        // background: none;

        > .f-button {
            &.is-close-btn {
                --f-button-svg-width: 20px;
                --f-button-svg-height: 20px;
                top: 10px;
                right: 10px;
            }
        }
    }

    &__slide {
        @media screen and (min-width: 1024px) {
            padding: 20px;
        }
    }
}

.f-carousel {
    --f-carousel-dot-width: 6px;
    --f-carousel-dot-height: 6px;
    --f-carousel-theme-color: $text;

    &__dots {
        position: absolute;
        bottom: 0;
    }
}

.is-compact .fancybox__content > .f-button.is-close-btn {
    --f-button-bg: transparent;
    --f-button-hover-bg: transparent;
    --f-button-active-bg: transparent;
    --f-button-color: $text-l;
    --f-button-hover-color: $text;
}
