.fancybox {
    &__container {
        --fancybox-bg: rgb(40 39 61 / 95%);
        --fancybox-color: #727487;
    }

    &__content {
        padding: 0;
        // background: none;

        > .f-button {
            &.is-close-btn {
                --f-button-svg-width: 20px;
                --f-button-svg-height: 20px;
                top: 10px;
                right: 10px;
            }
        }
    }

    &__slide {
        @media screen and (min-width: 1024px) {
            padding: 20px;
        }
    }
}

.f-carousel {
    --f-carousel-dot-width: 6px;
    --f-carousel-dot-height: 6px;
    --f-carousel-theme-color: #222330;

    &__dots {
        position: absolute;
        bottom: 0;
    }
}

.is-compact .fancybox__content > .f-button.is-close-btn {
    --f-button-bg: transparent;
    --f-button-hover-bg: transparent;
    --f-button-active-bg: transparent;
    --f-button-color: #727487;
    --f-button-hover-color: #222330;
}

.f-carousel.product-cards {
    border: 1px solid red;
    display: block;
    --f-carousel-slide-width: 100%;

    .product-card {
        .product-card__pic {
            width: auto;
        }
    }

    @media (min-width: 768px) {
        .f-carousel {
            --f-carousel-slide-width: calc(100% / 3);
        }
    }
}

.swiper {
    // border: 1px solid black;
    width: calc(100% + 50px);
    overflow-x: clip;
    overflow-y: initial;
    margin: 0 -25px 0 -25px;
    padding: 0 25px;
}

.swiper-slide {
    // border: 1px solid red;

    &.product-card {
        &:hover {
            .product-card__wrapper {
                box-shadow: 0 10px 22px rgba(47, 49, 66, 0.3411764706);
            }
        }
    }
}

.swiper-button-next,
.swiper-button-prev {
    --swiper-navigation-sides-offset: 5px;
    top: calc(35% - 20px);
    width: 45px;
    height: 45px;
    margin-top: 0;
    color: $main;
    background-color: #fff;
    border-radius: $br-xl;
    box-shadow: $bs-xsm;
    border: 1px solid $line;
    transition: $t;

    &::after {
        content: "";
        width: 100%;
        height: 100%;
        background: url(../img/icons/chevron-down.svg) no-repeat center/70%;
        transform: rotate(90deg);
        transition: $t;
    }

    &:hover {
        &::after {
            filter: brightness(0);
        }
    }

    &.swiper-button-disabled {
        pointer-events: all;
        opacity: 1;

        &::after {
            opacity: 0.35;
        }

        &:hover {
            &::after {
                filter: none;
            }
        }
    }
}

.swiper-button-next {
    &::after {
        transform: rotate(-90deg);
    }
}

.main-slider {
    .swiper {
        width: 100%;
        padding: 0;
        margin: 0;

        .swiper-button-next,
        .swiper-button-prev {
            --swiper-navigation-sides-offset: 15px;
            top: calc(50% - 20px);
            display: none;

            @media screen and (min-width: $bp-lg) {
                display: flex;
            }
        }

        .swiper-pagination-bullets {
            --swiper-pagination-bottom: -5px;
            --swiper-pagination-bullet-horizontal-gap: 3px;
            --swiper-pagination-bullet-border-radius: 6px;
            --swiper-pagination-bullet-width: 8px;
            --swiper-pagination-bullet-height: 6px;
            --swiper-theme-color: #8d1ecd;
            --swiper-pagination-bullet-inactive-opacity: 0.1;

            .swiper-pagination-bullet {
                transition: $t;

                &-active {
                    width: 12px;
                }
            }
        }
    }
}
