.icon {
    width: 1.2em;
    height: 1.2em;
    display: inline-block;
    flex-shrink: 0;

    &--vk {
        background: url(../img/icons/social-vk.svg) no-repeat center/100%;
    }

    &--woman {
        background: url(../img/categories/woman.png) no-repeat center/100%;
    }

    &--man {
        background: url(../img/categories/man.png) no-repeat center/100%;
    }

    &--cart {
        background: url(../img/icons/cart.svg) no-repeat center/100%;
    }

    &--sale {
        background: url(../img/icons/sale.svg) no-repeat center/100%;
    }

    &--sale-simple {
        background: url(../img/icons/sale-simple.svg) no-repeat center/100%;
    }

    &--new-star {
        background: url(../img/icons/new-star.svg) no-repeat center/100%;
    }

    &--new-star-simple {
        background: url(../img/icons/new-star-simple.svg) no-repeat center/100%;
    }

    &--thumb-up {
        background: url(../img/icons/thumb-up.svg) no-repeat center/100%;
    }

    // &--sale-main {
    //     background: url(../img/icons/sale-main.svg) no-repeat center/100%;
    // }

    // &--timer {
    //     background: url(../img/icons/clock-timer.svg) no-repeat center/100%;
    // }

    &--fire {
        background: url(../img/icons/fire.svg) no-repeat center/100%;
    }

    // &--fire-main {
    //     background: url(../img/icons/fire-main.svg) no-repeat center/100%;
    // }

    &--fire-simple {
        background: url(../img/icons/fire-simple.svg) no-repeat center/100%;
    }

    &--external-main {
        background: url(../img/icons/external-main.svg) no-repeat center/100%;
    }

    &--external {
        background: url(../img/icons/external-main.svg) no-repeat center/100%;
        filter: grayscale(1);
        opacity: 0.5;
        width: 1em;
        height: 1em;
        transform: translateY(1px);
        transition: $t;
    }

    &--download-main {
        background: url(../img/icons/download-main.svg) no-repeat center/100%;
    }

    &--question {
        background: url(../img/icons/question.svg) no-repeat center/100%;
        // transform: translateY(2px);
    }

    &--arrow-left {
        background: url(../img/icons/arrow-left.svg) no-repeat center/100%;
    }

    &--chevron-left {
        background: url(../img/icons/chevron-down.svg) no-repeat center/100%;
        transform: rotate(-90deg);
    }

    &--user {
        background: url(../img/icons/user.svg) no-repeat center/100%;
    }

    &--heart {
        background: url(../img/icons/heart.svg) no-repeat center/100%;
    }

    &--noteblock {
        background: url(../img/icons/noteblock.svg) no-repeat center/100%;
    }

    &--bell {
        background: url(../img/icons/bell.svg) no-repeat center/100%;
    }

    &--crown {
        background: url(../img/icons/crown.svg) no-repeat center/100%;
    }

    &--return {
        background: url(../img/icons/return.svg) no-repeat center/100%;
    }

    &--logout {
        background: url(../img/icons/logout.svg) no-repeat center/100%;
    }

    &--box {
        background: url(../img/icons/box.svg) no-repeat center/100%;
    }

    &--gem {
        background: url(../img/icons/gem.svg) no-repeat center/100%;
    }

    &--dashboard {
        background: url(../img/icons/dashboard.svg) no-repeat center/100%;
    }

    &--smartphone {
        background: url(../img/icons/smartphone.svg) no-repeat center/100%;
    }

    &--user-card {
        background: url(../img/icons/user-card.svg) no-repeat center/100%;
    }

    &--scan-fingerprint {
        background: url(../img/icons/scan-fingerprint.svg) no-repeat center/100%;
    }

    &--fingerprint {
        background: url(../img/icons/fingerprint.svg) no-repeat center/100%;
    }

    &--scan-user {
        background: url(../img/icons/scan-user.svg) no-repeat center/100%;
    }

    &--key {
        background: url(../img/icons/key.svg) no-repeat center/100%;
    }

    &--truck {
        background: url(../img/icons/truck.svg) no-repeat center/100%;
    }

    &--megaphone {
        background: url(../img/icons/megaphone.svg) no-repeat center/100%;
    }

    &--plus {
        background: url(../img/icons/plus.svg) no-repeat center/100%;
    }

    &--house {
        background: url(../img/icons/house.svg) no-repeat center/100%;
    }

    &--delete {
        background: url(../img/icons/delete.svg) no-repeat center/100%;
    }

    &--suitcase {
        background: url(../img/icons/suitcase.svg) no-repeat center/100%;
    }
}

// .icon-pro {
//     display: inline-block;
//     width: 4em;
//     height: 1em;
//     background: url(../img/icons/pro.svg) no-repeat center/100%;
//     transform: translateY(2px);
// }

.icon-phone-call {
    display: block;
    width: 40px;
    height: 40px;
    background: url(../img/icons/phone-call.svg) no-repeat center/100%;
}
