.icon {
    width: 1.2em;
    height: 1.2em;
    display: inline-block;

    &--vk {
        background: url(../img/icons/social-vk.svg) no-repeat center/100%;
    }

    &--woman {
        background: url(../img/categories/woman.png) no-repeat center/100%;
    }

    &--man {
        background: url(../img/categories/man.png) no-repeat center/100%;
    }

    &--sale {
        background: url(../img/icons/sale.svg) no-repeat center/100%;
    }

    // &--sale-main {
    //     background: url(../img/icons/sale-main.svg) no-repeat center/100%;
    // }

    // &--timer {
    //     background: url(../img/icons/clock-timer.svg) no-repeat center/100%;
    // }

    &--fire {
        background: url(../img/icons/fire.svg) no-repeat center/100%;
    }

    &--external-main {
        background: url(../img/icons/external-main.svg) no-repeat center/100%;
    }

    &--external{
        background: url(../img/icons/external-main.svg) no-repeat center/100%;
        filter: grayscale(1);
        opacity: 0.5;
        width: 1em;
        height: 1em;
        transform: translateY(1px);
        transition: $t;
    }
}

.icon-pro {
    display: inline-block;
    width: 4em;
    height: 1em;
    background: url(../img/icons/pro.svg) no-repeat center/100%;
    transform: translateY(2px);
}

.icon-phone-call {
    display: block;
    width: 40px;
    height: 40px;
    background: url(../img/icons/phone-call.svg) no-repeat center/100%;
}
