.notice-groups {
    display: grid;
    grid-template-columns: 1fr;
    // border-radius: $br-xxl;
    // box-shadow: $bs-box;
    padding: 40px 0;
    row-gap: 30px;
}

.notice-group {
    row-gap: 10px;
    padding: 0 40px;
    display: grid;
    grid-template-columns: 1fr;

    @media screen and (min-width: $bp-md) {
        grid-template-columns: minmax(90px, 1fr) 9fr;
    }

    &__date {
        color: $text-ll;
        font-size: 13px;
        margin-top: 10px;
        white-space: nowrap;
    }

    &__content {
        display: grid;
        row-gap: 5px;
    }
}

.notice-card {
    position: relative;
    padding: 10px 40px;
    border-radius: $br-xl;
    transition: $t;

    &:hover {
        background-color: lighten($bg-l, 1);
    }

    &--active {
        &::before {
            content: "";
            display: block;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: $main;
            position: absolute;
            left: 15px;
            top: 15px;
        }
    }

    &__title {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 0.33em;
    }

    &__content {
        color: $text-l;
        font-size: 14.5px;
    }
}
