.order-page {
    box-shadow: $bs-box-l;
    border: 1px solid $line;
    border-radius: $br-xl;
    padding-bottom: 28px;
    container-type: inline-size;
}

.order-products {
}

.order-product {
}

.order-details {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    row-gap: 10px;
}

.order-detail {
    display: flex;
    align-items: center;
    column-gap: 5px;

    &__title {
        color: $text-l;
        min-width: 130px;
    }
}
