.order-page {
    container-type: inline-size;
}

.order-layout {
    padding: 30px 30px 30px 45px;
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    column-gap: 60px;
    align-items: flex-start;
}

.order-info-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: $br-lg;
    row-gap: 12px;
    border-radius: $br-xl;

    @container (min-width: 850px) {
        background-color: lighten($bg-l, 1);
        padding: 20px 30px;
    }
}

.order-info-detail {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    font-size: 14.5px;
    line-height: 1.2;

    @container (min-width: 650px) {
        font-size: 15px;
    }

    @container (min-width: 850px) {
        column-gap: 35px;
    }

    &__title {
        color: $text-l;
        white-space: nowrap;
    }

    &__content {
        text-align: right;
        white-space: nowrap;

        &--good {
            color: $good-d;
        }
    }

    &--alert {
        @container (min-width: 850px) {
            background-color: darken($bg-l, 2);
            border-radius: $br-lg;
            padding: 8px 12px;
            margin: 0 -8px;
        }
    }
}

.order-info-total {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    column-gap: 20px;
    font-weight: 500;
    font-size: 18px;
    margin-top: 15px;
    line-height: 1.2;

    &__content {
        white-space: nowrap;
    }
}

.order-products {
    max-width: 900px;
}

.order-product {
    padding: 30px 0;
    &__pic {
        width: 70px;

        > img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
}
