.order-cards {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    max-width: 900px;
    // container-type: inline-size;

    // &--lg {
    //     .order-card {
    //         grid-template-columns: 1.5fr 3fr 3fr 2fr 1fr 1.5fr;

    //         &--extra {
    //             .order-card__header {
    //                 grid-column: 1 / 4;
    //                 display: flex;
    //                 column-gap: 10px;
    //             }
    //         }
    //     }
    // }
}

.order-card {
    box-shadow: $bs-box-l;
    border: 1px solid $line;
    border-radius: $br-xl;
    padding-bottom: 28px;
    container-type: inline-size;

    &--details {
        .order-card__footer {
            justify-content: flex-start;
        }

        .order-card__cost {
            font-size: 20px;
        }
    }

    &__main {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 20px;
        position: relative;

        @container (min-width: 750px) {
            grid-template-columns: 3fr 1fr;
        }
    }

    &__header {
        // border: 1px solid red;
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        @container (min-width: 750px) {
            row-gap: 20px;
        }
    }

    &__status {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        column-gap: 15px;
        transform: translate(-1px, -1px);
        padding-right: 20px;

        @container (min-width: 450px) {
            flex-direction: row;
        }

        @container (min-width: 750px) {
            align-items: flex-end;
            flex-wrap: nowrap;
        }
    }

    &__content {
        position: relative;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        color: $text;
        padding: 0 20px;
        z-index: 1;
        line-height: 1.4;

        @container (min-width: 750px) {
            padding: 7px 40px;
        }
    }

    &__title {
        color: $text;

        &:hover {
            color: $main;
        }
    }

    &__number {
        font-weight: 500;
        font-size: 17px;
    }

    &__date {
        font-size: 14px;
    }

    &__info {
        margin-top: 4px;
    }

    &__delivery {
        display: flex;
        align-items: baseline;
        column-gap: 8px;
        row-gap: 2px;
        font-size: 14px;
        color: $text;

        > span {
            display: inline;
            color: $text-l;
            max-height: 1.5em;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            // word-break: break-word;
            hyphens: auto;
        }
    }

    &__footer {
        // border: 1px solid blue;
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        position: relative;

        @container (min-width: 750px) {
            align-items: flex-end;
            justify-content: flex-end;
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
        }
    }

    &__pay {
        display: flex;
        column-gap: 20px;
        align-items: center;
        padding: 0 20px;

        @container (min-width: 750px) {
            padding: 25px 30px 10px 30px;
        }
    }

    &__pay-status {
        color: $text-ll;
        font-size: 14px;
        line-height: 1.2;
        min-width: 100px;

        @container (min-width: 750px) {
            width: 100px;
        }

        &--good {
            color: $good-d;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 4px;

            &::before {
                content: "";
                width: 1em;
                height: 1em;
                display: block;
                background: url(../img/icons/check-good.svg) no-repeat center/100%;
                transform: translateY(-2px);
            }
        }
    }

    &__total {
        display: flex;
        row-gap: 3px;
        column-gap: 5px;
        align-items: center;

        @container (min-width: 750px) {
            flex-direction: column;
            align-items: flex-end;
        }
    }

    &__cost {
        font-weight: 500;
        font-size: 16px;
        text-align: right;
        line-height: 1;
        white-space: nowrap;
    }

    &__count {
        text-align: right;
        font-size: 13.5px;
        color: $text-l;
        line-height: 1;
        white-space: nowrap;
        text-align: right;
    }

    // не используется
    &__products {
        display: flex;
        justify-items: flex-start;
        // flex-direction: row-reverse;

        .order-card-product {
            display: block;
            width: 44px;
            height: 44px;
            object-position: center;
            object-fit: cover;
            border-radius: 50%;
            border: 3px solid #fff;
            margin-left: -20px;
            z-index: 1;

            &:first-child {
                margin-left: 0;
            }

            &--more {
                margin-left: -10;
                width: 44px;
                height: 44px;
                background-color: $bg-d;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 13px;
                color: $text-l;
            }
        }
    }
}

.order-card-docs {
    display: flex;
    column-gap: 10px;
    padding-right: 30px;
    padding-left: 20px;
    padding-top: 25px;
    position: relative;
    margin-top: 10px;

    @container (min-width: 750px) {
        justify-content: flex-end;
        padding-left: 0;
        margin-top: 0;
        padding-top: 15px;
    }

    &::before {
        content: "";
        display: block;
        height: 0;
        width: 100%;
        border-bottom: 1px dashed $line-d;
        position: absolute;
        right: 0;
        top: 0;

        @container (min-width: 750px) {
            width: 130%;
        }
    }

    &::after {
        content: "";
        display: block;
        height: 1px;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        // background: linear-gradient(-90deg, #fff, transparent);

        @container (min-width: 750px) {
            width: 130%;
            left: auto;
            right: 0;
            background: linear-gradient(90deg, #fff, transparent);
        }
    }
}

.order-card-doc {
    display: flex;
    align-items: center;
    column-gap: 5px;
    background-color: $bg-l;
    padding: 0.5em 1em;
    border-radius: $br-md;
    font-size: 13px;
    color: $text;
    white-space: nowrap;

    &:hover {
        color: $text;
        background-color: $bg-d;
    }
}

.order-status {
    background-color: $special-6-l;
    color: $special-6;
    padding: 7px 20px;
    border-radius: $br-xl 0 $br-xl 0;
    font-size: 13.5px;
    font-weight: 500;
    display: flex;
    align-items: center;
    column-gap: 7px;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-color: lighten($special-6, 22);
    position: relative;
    white-space: nowrap;

    &::before {
        content: "";
        display: block;
        width: 18px;
        height: 18px;
        background: url(../img/icons/file.svg) no-repeat center/100%;
        flex-shrink: 0;
    }

    &--send {
        color: $good-d;
        background-color: $good-ll;
        border-color: lighten($good, 15);

        &::before {
            background: url(../img/icons/truck-good.svg) no-repeat center/100%;
        }
    }

    &--in-progress {
        &::before {
            background: url(../img/icons/progress.svg) no-repeat center/100%;
        }
    }

    &--on-pack {
        &::before {
            background: url(../img/icons/box-open.svg) no-repeat center/100%;
        }
    }

    &--invoice {
        &::before {
            background: url(../img/icons/ticket.svg) no-repeat center/100%;
        }
    }

    &--packed {
        &::before {
            background: url(../img/icons/box-closed.svg) no-repeat center/100%;
        }
    }

    &--canceled {
        color: $bad;
        background-color: $bad-ll;
        border-color: lighten($bad, 20);
        &::before {
            background: url(../img/icons/close-bad.svg) no-repeat center/100%;
        }
    }
}

.order-substatuses {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    column-gap: 17px;

    @container (min-width: 450px) {
        margin-left: auto;
        align-items: flex-end;
    }

    @container (min-width: 750px) {
        margin-left: 0;
        padding-top: 0;
        flex-direction: row;
    }
}

.order-substatus {
    color: $text-l;
    font-size: 13px;
    line-height: 1.2;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    column-gap: 6px;
    white-space: nowrap;

    @container (min-width: 750px) {
        margin-left: 0;
    }

    &::before {
        content: "";
        display: block;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: $line-d;
    }

    &--good {
        color: $good-d;

        &::before {
            background-color: $good-d;
        }
    }
}

.order-card-extras {
    display: flex;
    flex-direction: column;
    row-gap: 7px;
    padding: 30px 20px 10px 20px;

    @container (min-width: 750px) {
        padding: 30px 30px 10px 30px;
    }
}

.order-card-extra {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    column-gap: 30px;
    padding: 10px 15px;
    border-radius: $br-md;
    background-color: lighten($bg-l, 1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;

    @container (min-width: 500px) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &:hover {
        background-color: $bg-l;
    }

    &__title {
        color: $text;
        font-size: 13.5px;
        line-height: 1.2;
        display: flex;
        align-items: center;
        column-gap: 8px;

        &::before {
            content: "";
            display: block;
            width: 16px;
            height: 16px;
            background: url(../img/icons/plus.svg) no-repeat center/100%;
            opacity: 0.5;
            flex-shrink: 0;
        }
    }

    &__total {
        display: flex;
        align-items: center;
        column-gap: 7px;

        @container (min-width: 750px) {
            column-gap: 10px;
        }
    }

    &__cost {
        font-weight: 500;
        color: $text;
        font-size: 14.5px;
        white-space: nowrap;
        padding-left: 25px;

        @container (min-width: 500px) {
            min-width: 100px;
            text-align: right;
        }
    }

    &__count {
        font-size: 13px;
        color: $text-l;

        @container (min-width: 500px) {
            min-width: 50px;
            text-align: right;
        }
    }
}
