.popup {
    display: inline-block;
    position: relative;

    &:hover {
        .popup__wrapper {
            visibility: visible;
            opacity: 1;
            max-height: 300px;
            overflow: visible;
            transform: translateY(0);
        }
    }

    &__wrapper {
        padding: 5px;
        visibility: hidden;
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        position: absolute;
        bottom: 100%;
        left: -140px;
        transition:
            opacity $t-value,
            transform $t-value;
        z-index: 99;
        transform: translateY(-10px);
    }

    &__content {
        border-top: 1px solid $line;
        box-shadow: $bs-sm;
        padding: 1em;
        color: $text;
        font-size: 14px;
        border-radius: $br-lg;
        background-color: #fff;
        width: 280px;
    }

    &__btn {
        border: none;
        border-radius: $br-xxl;
        background-color: darken($bg-d, 2);
        padding: 0.25em 0.5em;
        line-height: 1;
        color: $text;
        transition: $t;

        &:focus {
            + .popup__wrapper {
                visibility: visible;
                opacity: 1;
                max-height: 300px;
                overflow: visible;
                transform: translateY(0);
            }
        }

        &:hover {
            background-color: darken($bg-d, 3);
        }

        &:focus {
            background-color: darken($bg-d, 8);
        }
    }
}
