.product-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    column-gap: 10px;
    row-gap: 30px;

    // @media screen and (min-width: $bp-xsm) {
    //     grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    // }

    // &::after {
    //     // display: none;
    //     content: "";
    //     background-color: $bg-d;
    //     padding-bottom: 100%;
    //     padding-top: 100%;
    // }

    @media screen and (min-width: $bp-xsm) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (min-width: $bp-sm) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (min-width: $bp-md) {
        column-gap: 20px;
    }

    @media screen and (min-width: $bp-lg) {
        grid-template-columns: repeat(5, 1fr);
        column-gap: 25px;
    }

    @media screen and (min-width: $bp-xl) {
        column-gap: 30px;
    }

    @media screen and (min-width: $bp-xxl) {
        grid-template-columns: repeat(6, 1fr);
        column-gap: 35px;
    }
}

.product-card {
    position: relative;

    &:hover {
        z-index: 98;
        // padding-top: 200%;

        .product-card__wrapper {
            position: absolute;
            box-shadow: $bs-xxl;
        }

        // .product-card__header {
        //     max-height: none;
        //     overflow: hidden;
        //     text-overflow: ellipsis;
        //     display: inline-block;
        // }

        .product-card__sizes {
            display: flex;
        }

        .card-color {
            &--active {
                border-color: $text-l;

                &::before {
                    opacity: 1;
                }
            }
        }
    }

    &__wrapper {
        border-radius: 1px;
        top: 0;
        left: 0;
        right: 0;
        background-color: #fff;
        outline: 5px solid #fff;

        @media screen and (min-width: $bp-md) {
            outline: 15px solid #fff;
        }
    }

    &__head {
        width: 100%;
        background-color: $bg-l;
        border-radius: $br-lg;
        position: relative;
    }

    &__swiper {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border: 1px solid red;
        display: flex;
        z-index: 1;

        > div {
            border: 1px solid;
            width: 100%;
            height: 100%;

            &:hover {
                background-color: red;
            }
        }
    }

    &__head-link {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &__fav {
        position: absolute;
        top: 3px;
        right: 3px;
        width: 40px;
        height: 40px;
        border: none;
        background: url(../img/icons/heart.svg) no-repeat center/60%;
        z-index: 1;
        border-radius: 50%;
        transition: $t;
        opacity: 0.6;
        outline: none;
        -webkit-tap-highlight-color: transparent;

        &:hover {
            opacity: 1;

            @media screen and (min-width: $bp-lg) {
                background-color: rgba(27, 29, 34, 0.07);
            }
        }

        &:active {
            transform: scale(0.8);
        }

        &.is-active {
            opacity: 1;
            background: url(../img/icons/heart-filled.svg) no-repeat center/60%;

            &:hover {
                @media screen and (min-width: $bp-lg) {
                    background-color: rgba(27, 29, 34, 0.07);
                }
            }

            > span {
                width: 12px;
                height: 12px;
                display: block;
                background: url(../img/icons/heart-filled.svg) no-repeat center/100%;
                position: absolute;
                top: calc(50% - 6px);
                left: calc(50% - 6px);
                animation: favorites 0.55s ease-in-out forwards;
            }
        }
    }

    &__pic {
        display: block;
        width: 100%;
        height: auto;
        border-radius: $br-lg;
        font-size: 14px;
    }

    &__body {
        display: grid;
        row-gap: 5px;
        padding: 16px 0;
    }

    &__body-link {
        text-decoration: none;
        pointer-events: none;

        @media screen and (min-width: $bp-md) {
            pointer-events: all;
        }
    }

    &__header {
        color: $text-l;
        font-size: 14px;
        transition: $t;
        font-weight: 400;
        margin: 0;
        padding: 0;
        line-height: 1.3;

        max-height: 40px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        word-break: break-word;

        &:hover {
            color: $main;

            .product-card__brand {
                color: $main;
            }
        }
    }

    &__brand {
        text-transform: uppercase;
        color: $text;
        transition: $t;

        &::after {
            content: " /";
            color: $text-ll;
        }
    }
}

.card-price {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.5em;
    align-items: first baseline;
    line-height: 1.3;

    &__title {
        font-size: 14px;
        // flex-grow: 1;
    }

    &__actual {
        font-weight: 500;
        font-size: 17px;
    }

    &__old {
        color: $text-l;
        font-size: 14px;
        text-decoration: line-through;
    }

    &__warning {
        color: $special-1;
        font-size: 13px;
    }

    &--sm {
        .card-price__title {
            font-size: 13px;
        }

        .card-price__actual {
            font-size: 14px;
        }

        .card-price__old {
            font-size: 13px;
        }
    }

    &--action {
        .card-price__actual {
            color: $special-1;
        }
    }
}
