.product-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    column-gap: 15px;
    row-gap: 50px;
    position: relative;
    flex-wrap: wrap;

    @media screen and (min-width: $bp-xsm) {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
    }

    @media screen and (min-width: $bp-sm) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (min-width: $bp-lg) {
        grid-template-columns: repeat(5, 1fr);
        column-gap: 25px;
    }

    @media screen and (min-width: $bp-xl) {
        column-gap: 30px;
    }

    @media screen and (min-width: $bp-xxl) {
        grid-template-columns: repeat(6, 1fr);
        column-gap: 35px;
    }

    &--sm {
        @media screen and (min-width: $bp-xsm) {
            grid-template-columns: repeat(4, 1fr);
        }

        @media screen and (min-width: $bp-sm) {
            grid-template-columns: repeat(5, 1fr);
        }

        @media screen and (min-width: $bp-lg) {
            grid-template-columns: repeat(6, 1fr);
            column-gap: 25px;
        }

        @media screen and (min-width: $bp-xxl) {
            grid-template-columns: repeat(7, 1fr);
            column-gap: 35px;
        }
    }

    &--max-6 {
        .product-card {
            @media screen and (min-width: $bp-sm) {
                &:nth-of-type(n + 5) {
                    display: none;
                }
            }

            @media screen and (min-width: $bp-lg) {
                &:nth-of-type(n + 5) {
                    display: block;
                }

                &:nth-of-type(n + 6) {
                    display: none;
                }
            }

            @media screen and (min-width: $bp-xxl) {
                &:nth-of-type(n + 6) {
                    display: block;
                }
            }
        }
    }
}

.product-card {
    position: relative;
    flex-basis: calc(20% - 10px);
    flex-shrink: 0;
    flex-grow: 1;
    height: 100%;
    max-width: 350px;

    &:hover {
        z-index: 98;

        .product-card__wrapper {
            z-index: 99;

            &::before {
                display: block;
            }
        }

        .product-card__sizes {
            display: flex;
        }

        .card-color {
            &--active {
                border-color: $text-ll;

                &::before {
                    opacity: 1;
                    @media screen and (min-width: $bp-md) {
                        transform: scale(1.16);
                    }
                }
            }

            &--incart {
                border-color: $main-l;
            }
        }
    }

    &__wrapper {
        border-radius: 1px;
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;

        &::before {
            content: "";
            display: none;
            position: absolute;
            background-color: #fff;
            border-radius: $br-xl;
            z-index: -1;
            box-shadow: 0 6px 20px #2f314221;
            top: -10px;
            bottom: -10px;
            left: -7px;
            right: -7px;

            @media screen and (min-width: $bp-sm) {
                border-radius: $br-xxl;
                top: -15px;
                left: -10px;
                right: -10px;
            }

            @media screen and (min-width: $bp-md) {
                top: -15px;
                left: -15px;
                right: -15px;
            }
        }
    }

    &__head {
        width: 100%;
        background-color: $bg-l;
        border-radius: $br-lg;
        position: relative;
    }

    &__swiper {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        z-index: 1;
        border-radius: $br-md;
        overflow: hidden;

        > div {
            border: 3px solid transparent;
            width: 100%;
            height: auto;

            &:hover {
                border-bottom-color: $text-l;
            }
        }
    }

    &__head-link {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &__fav {
        flex-shrink: 0;
        flex-grow: 0;
        position: absolute;
        top: 3px;
        right: 3px;
        width: 40px;
        height: 40px;
        border: none;
        background: url(../img/icons/heart.svg) no-repeat center/60%;
        z-index: 2;
        border-radius: 40px;
        transition: $t;
        opacity: 0.6;
        outline: none;
        padding: 0;
        -webkit-tap-highlight-color: transparent;

        &:hover {
            opacity: 1;

            @media screen and (min-width: $bp-lg) {
                background-color: rgba(27, 29, 34, 0.07);
            }
        }

        &:active {
            transform: scale(0.8);
        }

        &.is-active {
            opacity: 1;
            background: url(../img/icons/heart-filled.svg) no-repeat center/60%;

            &:hover {
                @media screen and (min-width: $bp-lg) {
                    background-color: rgba(27, 29, 34, 0.07);
                }
            }

            > span {
                width: 12px;
                height: 12px;
                display: block;
                background: url(../img/icons/heart-filled.svg) no-repeat center/100%;
                position: absolute;
                top: calc(50% - 6px);
                left: calc(50% - 6px);
                animation: favorites 0.55s ease-in-out forwards;
            }
        }
    }

    &__pic {
        display: block;
        width: 100%;
        height: auto;
        border-radius: $br-lg;
        font-size: 14px;
        background-color: $bg-l;
    }

    &__body {
        display: grid;
        row-gap: 5px;
        padding: 16px 0 0 0;
        position: relative;
    }

    &__body-link {
        text-decoration: none;
        pointer-events: none;

        @media screen and (min-width: $bp-md) {
            pointer-events: all;
        }
    }

    &__header {
        color: $text-l;
        font-size: 13.5px;
        transition: $t;
        font-weight: 400;
        margin: 0;
        padding: 0;
        line-height: 1.3;

        max-height: 40px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        word-break: break-word;
        hyphens: auto;

        &:hover {
            color: $main;

            .product-card__brand {
                color: $main;
            }
        }
    }

    &__brand {
        text-transform: uppercase;
        color: $text;
        transition: $t;
        font-size: 13px;

        &::after {
            content: " /";
            color: $text-ll;
        }
    }
}

.card-price {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.5em;
    align-items: first baseline;
    line-height: 1.3;

    &__title {
        font-size: 14px;
    }

    &__actual {
        font-weight: 500;
        font-size: 16.5px;
        white-space: nowrap;

        > span {
            padding-right: 0.2em;
        }
    }

    &__old {
        color: $text-l;
        font-size: 14px;
        text-decoration: line-through;
        white-space: nowrap;

        > span {
            padding-right: 0.2em;
        }
    }

    &__warning {
        color: $special-1;
        font-size: 13px;
    }

    &__alert {
        font-size: 13px;
        background-color: $bg-l;
        border-radius: $br-md;
        padding: 0.3em 0.75em;
        line-height: 1.1;
        display: flex;
        align-items: center;
        column-gap: 4px;
        border: none;
        color: $text-l;
        transition: $t;
        margin-bottom: 7px;

        &:hover {
            background: $bg-d;
        }
    }

    &--sm {
        .card-price__title {
            font-size: 13px;
        }

        .card-price__actual {
            font-size: 14px;
        }

        .card-price__old {
            font-size: 13px;
        }
    }

    &--action {
        .card-price__actual {
            color: $special-1;
        }
    }
}

.product-card-placeholder {
    background: url(../img/product-card-placeholder.svg) no-repeat;
}
