.warning {
    padding: 20px;
    border-radius: $br-md;
    background-color: $bg-l;
    font-size: 14px;
    line-height: 1.5;

    &--sm {
        padding: 15px;
        font-size: 13px;
        line-height: 1.3;
    }
}